body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
}

a {
    display: block;
}

#main-index { 
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

@media only screen and (max-width: 400px) {
    #main-index {
        margin: 15px;
    }
}

#left {
    width: 50%;
}

#right {
    width: 50%;
}

.right-item-container {
    display: none;
}

img {
    width: 100%;
    height: 100%;
    
}

#profile-photo {
    width: 25%;
    height: auto;
}
@media only screen and (max-width: 400px) {
    #profile-photo {
        width: 75%;
    }
}
